/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #5076d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
header {
  text-align: center;
}

header h1 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.container {
  display: flex;
  background-color: white;
  padding: 10px;
  width: 300px;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
h3 {
  font-size: 16px;
  color: #145364;
}

.input-dan-pilih-provider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  gap: 10px;
}
.pilih-provider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown {
  text-align: center;
  width: 100px;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  height: 47px;
  width: 100%;
}

.input-kode-voucher {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.input {
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  height: 47px;
}

.button {
  color: white;
  font-weight: bold;
  height: 47px;
  background: #263238;
  border-radius: 10px;
  border: none;
}
#charCount {
  display: flex;
  color: white;
  font-weight: bold;
  height: 47px;
  width: 100px;
  background: #263238;
  border-radius: 10px;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.salin {
  color: white;
  font-weight: bold;
  height: 47px;
  width: 80px;
  background: #263238;
  border-radius: 10px;
  border: none;
}

.output-hasil {
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.output {
  width: 200px;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  margin-bottom: 6px;
  height: 47px;
}

.footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer p {
  margin-bottom: -3px;
  font-size: 12px;
}
sub {
  color: white;
  text-align: center;
  align-items: center;
  font-weight: thin;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.multi-action {
  display: inline-block;
  position: absolute;
  width: 56px;
  height: 56px;
  bottom: 36px;
  right: 36px;
}

.action-button {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background: #f44336;
  font-size: 24px;
  color: white;
  z-index: 2;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.3s;
}
button.salin:hover {
  background: blue;
  transition: all 0.3s;
}
