/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

header {
  text-align: center;
  margin-bottom: 1rem;
}
*{
    font-family: "Nunito", sans-serif;    
}
header h1 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
body{
    background-color: #ecf1ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #145364;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  width: auto;
  height: auto;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#input {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.submit{
  background: #263238;
  color: white;
  border-radius: 4px;
  width: auto;
  height: 30px;
  border:none;
}
.pil-provider{
  display: flex;
  align-items: center;
}

con-output{
  display: flex;
  flex-direction: coloumn;
  align-items: center;
  justify-content: center;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}